@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500";

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
    color: #195422;
}

@media ( max-width: 768px ) {
    h1 {
        font-size: 2rem;
    }
  }